version: '3.9'

services:
  backend:
    build: ./backend
    container_name: yii-backend
    volumes:
      - ./backend:/var/www/html
    networks:
      - app
    depends_on:
      - db

  nginx:
    image: nginx:latest
    container_name: yii-nginx
    volumes:
      - ./backend:/var/www/html
      - ./nginx:/etc/nginx/conf.d

    ports:
      - "8080:80"
    networks:
      - app
    depends_on:
      - backend

  db:
    image: mysql:8.0
    container_name: yii-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: yii_db
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app

networks:
  app:

volumes:
  db_data:
